<section class="shop" id="shop">
    <h2>Top <b>Catogires</b></h2>
    <div class="box-container">

        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/71lYSEETh5L._SY450_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>SMART WATCHES</h3>
                <div class="price">50<span> 150.99</span></div>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/71LmJkoDgpL._SX569_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>MOBILES</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/61+0KSoFrOL._SY355_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>EAIRPHONE</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/61g0O0jOOuL._SL1280_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>MOBILES</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://www.justjaldi.com/image/product/6528/LARGE/0/12745?t=1633690757">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>MOBILES</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/71zfaYItN8L._SX569_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>MOBILE</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/51UhwaQXCpL._SY355_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>EAIRPHONES</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/51VZIz+fngL._SY450_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>LAPTOP</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/61LB+d0vheL._SX569_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>LAPTOP</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
        
        
        
        <div class="box">
            <div class="img">
                <img src="https://m.media-amazon.com/images/I/71z0DpyJmgL._SY355_.jpg">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            
            <div class="content">
                <h3>WATCHES</h3>
                <div class="price">40<span> 150.99</span></div>
                <a href="products" class="btn">SHOP NOW</a>
            </div>
        </div>
       

    </div>

</section>

