.card{
    margin-left: 20px;
    margin-bottom: 30px;
    border: info;
    max-width:150rem;
    margin-right: 20px;
    margin-top: 40px;
}
.card-header{
    background-color:rgb(14,37,78);
    color: white;
}
a{
    color: rgb(14,37,78);
}

.h2{
    margin-left: 60px;
    
}
.btn{
    margin-right: 100px;
display: column;
}
.btn1{
    font-size: 15px;
    color: white;
}
.btn1:hover{
    color: rgb(250, 125, 223);
}
.text-right{
 margin-left: 20px;
}