<!-- <footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="footer-brand">
          <a href="#" class="logo"><b>S<span>ho</span>pW<span>i</span>se</b></a>
          <p class="footer-text">
           Lorem ipsum dolor sit amet consectetur 
           adipisicing elit. Provident qui nobis doloremque hic veniam nam 
           eum dignissimos assumenda totam voluptatibus ut,
            doloribus quis quas eos quod quos iure voluptates maiores!
          </p>
          <div class="schedule">
            <div class="schedule-icon">
              <i class="bi bi-alarm"></i>
            </div>
            <span class="span">
              Monday - Saturday:<br>
              9:00am - 10:00Pm
            </span>
          </div>
        </div>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Other Links</p>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Home</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">About Us</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Services</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Project</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Our Team</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Latest Blog</span>
            </a>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Our Services</p>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Clothes</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Laptop</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Electronics</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Shoes</span>
            </a>
          </li>
          <li>
            <a href="#" class="footer-link">
              <i class="bi bi-plus-circle"></i>
              <span class="span">Laptop</span>
            </a>
          </li>
          
        </ul>
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>
          <li class="footer-item">
            <div class="item-icon">
             <a  href="googlemaps"><i class="bi bi-geo-alt"></i></a> 
            </div>
            <address class="item-text">
              Gulmohar<br>
              Bhopal
            </address>
          </li>
          <li class="footer-item">
            <div class="item-icon">
              <i class="bi bi-telephone"></i>
            </div>
            <a href="tel:+000000000" class="footer-link">+91-9301059430</a>
          </li>
          <li class="footer-item">
            <div class="item-icon">
              <i class="bi bi-envelope"></i>
            </div>
            <a href="mailto:help@example.com" class="footer-link">pujayadavyadav9@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 All Rights Reserved by pujayadavyadav9@gmail.com.
        </p>
        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
         
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
            
            </a>
          </li>
          <li>
            <a href="#" class="social-link">
          
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer> -->
  <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <h4 class="text-white mb-4">Address</h4>
                <p> <a  href="googlemaps"><i class="bi bi-geo-alt"></i></a> Gulmohar Colony ,Bhopal</p>
                <p><i class="fa fa-phone-alt me-3"></i>+91-9301059430</p>
                <p><i class="fa fa-envelope me-3"></i>pujayadavyadav9@gmail.com.</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h4 class="text-white mb-4">Quick Link</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Career</a>
            </div>
            <div class="col-md-6 col-lg-3">
                <h4 class="text-white mb-4">Popular Link</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Career</a>
            </div>
            <div class="col-md-6 col-lg-3">
                <h4 class="text-white mb-4">Newsletter</h4>
                <p>At ShopWise, we believe that shopping should be more than just a transaction;
                  it should be an experience filled with joy, convenience, and discovery. We are passionate about providing you with a seamless online shopping platform that offers an extensive selection of products,
                  exceptional customer service, and a personalized touch that makes you feel right at home.
                 
                </p>
                <div class="position-relative w-100 mt-3">
                    <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-lg-5">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">ShopWise</a>, All Right Reserved. 
      
     
 
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>