<section class="section about" id="about" aria-label="about">
    <div class="container">

      <figure class="about-banner">
        <img src="https://images.pexels.com/photos/4005031/pexels-photo-4005031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="70%" class="img" 
         >
      </figure>

      <div class="about-content">

        <p class="section-subtitle">About Us</p>

        <h2 class="h2 section-title">We are best service provider</h2>

        <p class="section-text section-text-1">
          Welcome to our ShopWise destination! We are passionate about
           providing you with an exceptional shopping experience that combines convenience, quality, and style. 
          At our website, we strive to be your go-to destination for all your shopping needs.
        </p>

        <p class="section-text section-text-1">
          Our mission is to offer a curated selection of products that 
          cater to your diverse tastes and preferences. 
          We aim to bring you the latest trends, top brands, and unique finds, 
          ensuring that you discover items that inspire and enhance your lifestyle.
        </p>
      <a  class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Read More<i class="fas fa-arrow-right"></i></a>


      </div>

    </div>
  </section>
