
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <div><img [src]="url" *ngIf="url"></div>
                    <p>
                        <input type="file" (change)="selectFile($event)">
                    </p>
                    <br>
                    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                    

                </div>




            </div>
        </div>
    
       
        <div class="row">

            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                               <p> {{user?.firstName}}</p>
                                  
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user?.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user?.mobile}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user?.address}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label>Ai Generated image</label>
                        </div>
                        <div class="col-md-6">
                            <a href="editprofile/Aiimagegenerator" class=" btn btn-lg btn-success">Ai Image</a>
                          
                        </div>
                    </div>
                    <div class="col-md-8">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                        
                    </div>
                  
                    
                </div>
            </div>
        </div>
    </form>
</div>